@import url(https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 colors: {
        cloud: "#2D3250",
        blue: "#424769",
        "slate-blue": "#7077A1",
        peach: "#F6B17A",

        "outer-space": "#292d3e",
      }, */
